{% extends "layouts/base.html" %}

{% block title %} Password Successful {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<div class="row">
  <div class="col-md-6">
    <div class="card">
      <div class="card-header">
        <h4 class="card-title">Deposit</h4>
      </div>
       <div class="card-body">
        <form method="POST" enctype="multipart/form-data">
          
          <div class="row">
            <div class="col-md-2 pr-md-1">
              <div class="form-group">
                <label></label>
             
              </div>
            </div>
            
            <div class="col-md-6 px-md-1">
              <div class="form-group">
                <label></label>
                  <h4>Password changed successfully</h4>
              </div>
            </div>
          </div>
          <div class="card-footer">
             <a href="{% url 'user-home' %}" class="btn btn-fill btn-primary">Done</a>
      </div>
        </form>
      </div>
    </div>
  </div>
  
  
</div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
{% endblock javascripts %}
