<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>ZincoTradings</title>
  <link rel="shortcut icon" type="image/png" href="https://ZincoTradings.com/assets/images/logoIcon/favicon.png"/>
    
  <link rel="stylesheet" href="https://ZincoTradings.com/assets/admin/css/dashboard.min.css">
  <link rel="stylesheet" href="https://ZincoTradings.com/assets/admin/css/custom.css">

 
  </head>
<body>
  <section class="error-section">
    <div class="col-xl-5 col-lg-6 col-md-8 col-sm-8 content text-center">
        <img src="https://ZincoTradings.com/assets/images/error-404.png" alt="error-image">
        <h2 class="font-large title">404</h2>
        <span class="sub-title">Page not found</span>
        <a href="https://ZincoTradings.com/admin/dashboard" class="btn btn-primary btn-lg mt-3">Got back to home</a>
    </div>
</section>

  <script src="https://ZincoTradings.com/assets/admin/js/dashboard.min.js"></script>
  <script src="https://ZincoTradings.com/assets/admin/js/main.js"></script>
  
  <!-- Load toast -->
  <!-- iziToast -->
    <link rel="stylesheet" href="https://ZincoTradings.com/assets/admin/css/iziToast.min.css">
    <script src="https://ZincoTradings.com/assets/admin/js/iziToast.min.js"></script>

    
        <script>

        function notify(status,message) {
            iziToast[status]({
                message: message,
                position: "topRight"
            });
        }
    </script>


  <script src="https://ZincoTradings.com/assets/admin/js/nicEdit.js"></script>
    
    <script type="text/javascript">
    bkLib.onDomLoaded(function() {
        $( ".nicEdit" ).each(function( index ) {
            $(this).attr("id","nicEditor"+index);
            new nicEditor({fullPanel : true}).panelInstance('nicEditor'+index,{hasPanel : true});
        });
    });
  </script>
  
  <script>$('[data-toggle=tooltip]').tooltip();</script>
  </body>
</html>