{% extends 'index.html' %}
{% load static %}

{% block content %}


                <!-- /#site-header -->



            </div>
             <div style="position: fixed !important; z-index: 9999;" id="ytWidget"></div><script src="../translate.yandex.net/website-widget/v1/widget80d6.js?widgetId=ytWidget&amp;pageLang=en&amp;widgetTheme=light&amp;autoMode=false" type="text/javascript"></script>
            <!-- #site-header-wrap -->
           
    <style>
 .breadcrumbs .breadcrumb-trail>a:before {
    top: 8px !important;
}
 </style>
 <!-- title page -->
            <div style="background-image: url({% static 'major/assets/templates/minimal/assets/images/image-slider/pictures8.jpg' %}); margin-top: 80px" class="flat-title-page parallax parallax-3">
                <div class="container-fluid">
                    <div class="row">
                        <div class="breadcrumbs">
                            <h2 style="color: white !important" class="section-title-page">RULES &amp; REGULATION</h2>
                            <div class="breadcrumb-trail link-style-4">
                                <a class="home" href="index.html">Home</a><span>RULES &amp; REGULATION</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>



 
    <!-- ========Faq-Section Starte Here ========-->
    <section class="faq-section padding-top padding-bottom">
        <div class="container">

                <div class="row">
                    <div class="col-12">
                        <div class="section-header">
                            <h2 class="title">Rules</h2>
                            <p>Please read our rules and regulations before joining us.</p>
                        </div>
                    </div>
                </div>



            <div class="row justify-content-center justify-content-lg-between">

                <div class="col-lg-12 col-xl-12">
                    <div class="faq-wrapper style-two">
                                                    <div class="faq-item  open active">
                                <div class="faq-content">
                                    <p>You agree to be of legal age in your country to partake in this program, and in all the cases your minimal age must be 18 years.</p>
                                </div>
                            </div>
                                                    <div class="faq-item  open active">
                                <div class="faq-content">
                                    <p>As a private transaction, this program is exempt from the Netherlands Securities Act of 1933, the Netherlands Securities Exchange Act of 1934 and the Netherlands Investment Company Act of 1940 and all other rules, regulations and amendments thereof. We are not FDIC insured. We are not a licensed bank or a security firm.</p>
                                </div>
                            </div>
                                                    <div class="faq-item  open active">
                                <div class="faq-content">
                                    <p>Note!!!!!  °You should not invest lower than your previous profit. °Upgrading of account would be required at a certain stage of your investment. °If you are awarded a bonus, a tax fee is required to be paid. °investing a particular amount twice will not be accepted.  REINVESTMENT RULES OF Insight Investment  1. investment in starter plan has 3 reinvestment limits but the direct investment is allowed but not with the exact previous amount paid 2. Other plans have an unlimited investment which means you can invest and reinvest multiple times 3. if you exceed the limit of reinvestment there will be the need for you to balance your account or migrate to the next plan  4. Violation of the reinvestment rules might get your account suspended.</p>
                                </div>
                            </div>
                                            </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ========Faq-Section Ends Here ========-->

    <style>
      .widget-social ul li {
          background-color: #181f33!important;
      }
  </style>
  
   <!-- Footer -->
            <footer id="footer" class="clearfix">
                <div id="footer-top" class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="footer-schedule">
                                <div class="heading-schedule">
                                    <h2 class="section-40px-barlow font-weight-500">Head Office</h2>
                                </div>
                                <div class="button-footer">
                                    <a href="contact.html" class="button readmore">Beursplein 37, 30 AA Rotterdam, Netherlands</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="footer-widgets" class="container">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="logo-footer">
                                <a href="index.html" rel="home" class="main-logo">
                                    <img src="{% static 'major/assets/images/logoIcon/logo.png' %}" alt="images">
                                </a>
                            </div>
                            <p class="text-widget"><p style="margin-top: -10px; font-family: Asap, sans-serif; font-size: 16px; line-height: 30px; scroll-behavior: smooth; color: rgb(119, 119, 119);">An&nbsp;investment company&nbsp;is a&nbsp;corporation&nbsp;or trust engaged in the business of&nbsp;investing&nbsp;pooled capital into financial securities.&nbsp;Investment companies&nbsp;make profits by buying and selling shares, Cryptocurrencies, property, bonds, cash, other funds and&nbsp;</p><div style="scroll-behavior: smooth; color: rgb(119, 119, 119); font-family: Actor, Roboto, sans-serif; font-size: 16px;">other assets.</div></p>
                            <div class="widget-social">
                                <ul>
                                                                 <li><a href="https://www.youtube.com/" target="_blank"
                                   title="Youtbe"><i class="fab fa-youtube"></i></a></li>
                                                        </ul>
                            </div>
                        </div>
                        <div class="col-md-8">
                            <div class="footer-widgets-nav-menu text-white">
                                <div class="menu-1" style="width: 65% !important">
                                    <h3 class="widget-title-link-wrap" style="color:white">Useful Links</h3>
                                    <div class="widget-links">
                                        <ul class="link-wrap">
                                              <li><a href="index.html">Home</a></li>
                       
                        <li><a href="blog.html">Blog</a></li>
                       
                        <li><a href="rules.html">Rules</a></li>
                        <li><a href="contact.html">Contact</a></li>
                                        </ul>
                                        <ul class="link-wrap">
                                                                     <li><a href="aboutus.html">About</a></li>
                                                <li><a href="services.html">Our Services</a></li>
                                                                                         </ul>
                                    </div>
                                </div>
                                <div class="menu-3">
                                    <h3 class="widget-title-link-wrap style-2" style="color:white">Get in Touch</h3>
                                    <ul class="widget-list-contact link-style-4">
                                        <li>
                                            <span class="meta-address">Beursplein 37, 30 AA Rotterdam, Netherlands</span>
                                        </li>
                                        <li><a href="mailto:olux.moore@gmail.com"
                                                class="meta-mail"> support@ZincoTradings.com</a>
                                        </li>
                                        <!--<li><a href="tel:012345678" class="meta-phone">  support@ZincoTradings.com</a></li>-->
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </footer><!-- /#footer -->
            <!-- Bottom -->
            <div id="bottom" class="clearfix has-spacer">
                <div id="bottom-bar-inner" class="container">
                    <div class="bottom-bar-inner-wrap">
                        <div class="bottom-bar-content-left link-style-4">
                            <div id="copyright"><span class="text">&copy; 2024 <a href="index.html">ZincoTradings</a>. All rights reserved</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!-- /#bottom -->
 
 
 
 
            {% endblock content %}





</body>

<!-- Mirrored from ZincoTradings.com/rules by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 02 May 2022 08:14:35 GMT -->
</html>
